<%= form_for  [@user, @soft_skill], html: {multipart: true } do |f| %>
  <% if soft_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soft_skill.errors.count, "error") %> prohibited this soft_skill from being saved:</h2>

      <ul>
      <% soft_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, 'Share a picture of something that inspires you...' %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :career, 'In which citys would you like to work?' %>
    <%= f.text_field :career, :class => "form-control", :placeholder => "Barcelona, San Francisco, Mars"%>
  </div>

  <div class="form-group">
    <%= f.label :importance, 'What are the fields you want to do projects in? ' %>
    <%= f.text_field :importance, :class => "form-control", :placeholder => "Marsmissions" %>
  </div>

  <div class="form-group">
    <%= f.label :impact, 'What is the impact do you want to generate with your profession?' %>
    <%= f.text_field :impact, :class => "form-control" , :placeholder => "I want to fly people to other galaxies"%>
  </div>

  <div class="form-group">
    <%= f.label :super_power, 'What is your one superpower?'%>
    <%= f.text_field :super_power, :class => "form-control", :placeholder => "I can speak Klingon"%>
  </div>

  <div class="form-group">
    <%= f.label :help, 'In which situations do you need help at?' %>
    <%= f.text_field :help, :class => "form-control", :placeholder => "To build a settlement on Mars"%>
  </div>

  <div class="form-group">
    <%= f.label :like, 'What is the qualities you most like in a person?' %>
    <%= f.text_field :like, :class => "form-control", :placeholder => "A sharp mind" %>
  </div>

  <div class="form-group">
    <%= f.label :dislike, 'What is it that you most dislike in a person?' %>
    <%= f.text_field :dislike, :class => "form-control", :placeholder => "Being an asshole - there is a no asshole policy in my companys"  %>
  </div>

  <div class="form-group">
    <%= f.label :greatest_achievement, 'What do you consider your greatest achievement?' %>
    <%= f.text_field :greatest_achievement, :class => "form-control", :placeholder => "Selfdriving Cars" %>
  </div>

  <div class="form-group">
    <%= f.label :best_friend, 'What says your best friend about you?' %>
    <%= f.text_field :best_friend, :class => "form-control", :placeholder => "That I am a pioneer "%>
  </div>

  <div class="form-group">
    <%= f.label :greatest_regret, 'What is your greatest regret?' %>
    <%= f.text_field :greatest_regret, :class => "form-control", :placeholder => "My SpaceX's 3rd rocket launch failed. " %>
  </div>

  <div class="form-group">
    <%= f.label :motto, 'What is your motto?'%>
    <%= f.text_field :motto, :class => "form-control", :placeholder => "When something is important enough, you do it even if the odds are not in your favor."%>
  </div>

  <div class="form-group">
    <%= f.label :links_to_share, 'What links would you love to share with me?' %>
    <%= f.text_field :links_to_share, :class => "form-control", :placeholder => "https://www.youtube.com/watch?v=-qRWS3dbkDU "  %>
  </div>

  <div class="form-group">
    <%= f.label :more_about, 'Tell me something about you what you usually never tell someone you recently met...'%>
    <%= f.text_field :more_about, :class => "form-control", :placeholder => "That I need a girlfriend"  %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>
