<%= form_for  [@user, @soft_skill], html: {multipart: true } do |f| %>
  <% if soft_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soft_skill.errors.count, "error") %> prohibited this soft_skill from being saved:</h2>

      <ul>
      <% soft_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image, 'Share a picture of something that inspires you...' %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :career, 'In which citys would you love to work?' %>
    <%= f.text_field :career %>
  </div>

  <div class="field">
    <%= f.label :importance, 'What are the fields you want to do projects in?' %>
    <%= f.text_field :importance %>
  </div>

  <div class="field">
    <%= f.label :impact, 'What is the impact do you want to generate with your profession?' %>
    <%= f.text_field :impact %>
  </div>

  <div class="field">
    <%= f.label :super_power, 'What is your one superpower?'%>
    <%= f.text_field :super_power %>
  </div>

  <div class="field">
    <%= f.label :help, 'In which situations do you need help at?' %>
    <%= f.text_field :help %>
  </div>

  <div class="field">
    <%= f.label :like, 'What is the most important to you?' %>
    <%= f.text_field :like %>
  </div>

  <div class="field">
    <%= f.label :dislike, 'What is it that you most dislike in a person?' %>
    <%= f.text_field :dislike %>
  </div>

  <div class="field">
    <%= f.label :greatest_achievement, 'What do you consider your greatest achievement?' %>
    <%= f.text_field :greatest_achievement %>
  </div>

  <div class="field">
    <%= f.label :best_friend, 'What says your best friend about you?' %>
    <%= f.text_field :best_friend %>
  </div>

  <div class="field">
    <%= f.label :greatest_regret, 'What is your greatest regret?' %>
    <%= f.text_field :greatest_regret %>
  </div>

  <div class="field">
    <%= f.label :motto, 'What is your motto?'%>
    <%= f.text_field :motto %>
  </div>

  <div class="field">
    <%= f.label :links_to_share, 'What links would you love to share with me?' %>
    <%= f.text_field :links_to_share %>
  </div>

  <div class="field">
    <%= f.label :more_about, 'Tell me something about you what you usually never tell someone you recently met...'%>
    <%= f.text_field :more_about %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
