<% if @user.soft_skill %>
<table class="table table-hover">
  <tbody>
    <tr>
      <th>In which citys would you like to work?'</th>
      <td><%= @user.soft_skill.career %></td>
    </tr>
    <tr>
      <th>What are the fields you want to do projects in? </th>
      <td><%= @user.soft_skill.importance %></td>
    </tr>
    <tr>
      <th>What is the impact do you want to generate with your profession?</th>
      <td><%= @user.soft_skill.impact %></td>
    </tr>
    <tr>
      <th>What is your one superpower?</th>
      <td><%= @user.soft_skill.super_power %></td>
    </tr>
    <tr>
      <th>In which situations do you need help at?</th>
      <td><%= @user.soft_skill.help %></td>
    </tr>
    <tr>
      <th>What is the qualities you most like in a person?</th>
      <td><%= @user.soft_skill.like %></td>
    </tr>
    <tr>
      <th>What is it that you most dislike in a person?</th>
      <td><%= @user.soft_skill.dislike %></td>
    </tr>
    <tr>
      <th>What do you consider your greatest achievement?</th>
      <td><%= @user.soft_skill.greatest_achievement %></td>
    </tr>
    <tr>
      <th>What says your best friend about you?</th>
      <td><%= @user.soft_skill.best_friend %></td>
    </tr>
    <tr>
      <th>What is your greatest regret?</th>
      <td><%= @user.soft_skill.greatest_regret %></td>
    </tr>
    <tr>
      <th>What is your motto?</th>
      <td><%= @user.soft_skill.motto %></td>
      <%= image_tag @user.soft_skill.image.url(:large) %>
    </tr>
    <tr>
      <th>What links would you love to share with me?</th>
      <td><%= @user.soft_skill.links_to_share %></td>
    </tr>
    <tr>
      <th>Tell me something about you what you usually never tell someone you recently met...</th>
      <td><%= @user.soft_skill.more_about %></td>
    </tr>
  </tbody>
</table>
<% if current_user && (current_user.id == @user.id) %>
  <%= link_to 'Edit', edit_user_soft_skill_path(@user.id, @user.soft_skill.id) %>
<% end %>
<% else %>
  <% if current_user && (current_user.id == @user.id) %>
    <%= link_to 'Tell me more about you....', new_user_soft_skill_path(@user.id) %>
  <% else %>
    <span>No soft skills available</span>
  <% end %>
<% end %>
