<p id="notice"><%= notice %></p>

<p>
  <strong>Career:</strong>
  <%= @soft_skill.career %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @soft_skill.importance %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @soft_skill.impact %>
</p>

<p>
  <strong>Super power:</strong>
  <%= @soft_skill.super_power %>
</p>

<p>
  <strong>Help:</strong>
  <%= @soft_skill.help %>
</p>

<p>
  <strong>Like:</strong>
  <%= @soft_skill.like %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @soft_skill.dislike %>
</p>

<p>
  <strong>Greatest achievement:</strong>
  <%= @soft_skill.greatest_achievement %>
</p>

<p>
  <strong>Best friend:</strong>
  <%= @soft_skill.best_friend %>
</p>

<p>
  <strong>Greatest regret:</strong>
  <%= @soft_skill.greatest_regret %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @soft_skill.motto %>
</p>

<p>
  <strong>Links to share:</strong>
  <%= @soft_skill.links_to_share %>
</p>

<p>
  <strong>More about:</strong>
  <%= @soft_skill.more_about %>
</p>

<%= link_to 'Edit', edit_soft_skill_path(@soft_skill) %> |
<%= link_to 'Back', soft_skills_path %>
