<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @user.name %></h1>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>ID:</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>Username:</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>E-Mail:</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Hard Skills</h1>
      <% if !@user.hard_skill.nil?  %>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Linked In:</th>
            <td><%= @user.hard_skill.linkedin %></td>
          </tr>
          <tr>
            <th>Social Media:</th>
            <td><%= @user.hard_skill.social_media_profile %></td>
          </tr>
          <tr>
            <th>Website:</th>
            <td><%= @user.hard_skill.website %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Soft Skills</h1>
      <% if !@user.soft_skill.nil?  %>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Linked In:</th>
            <td><%= @user.soft_skill.linkedin %></td>
          </tr>
          <tr>
            <th>Social Media:</th>
            <td><%= @user.hard_skill.social_media_profile %></td>
          </tr>
          <tr>
            <th>Website:</th>
            <td><%= @user.hard_skill.website %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

<%= @user.soft_skill.inspect %>
