<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>User number</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>Username</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>E-Mail</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= render template: 'hard_skills/show'  %>
    </div>
    <div class="col-sm-12">
      <%= render template: 'soft_skills/show'  %>
    </div>
  </div>
</div>
