<p id="notice"><%= notice %></p>

<h1>Hard Skills</h1>

<table>
  <thead>
    <tr>
      <th>Linkedin</th>
      <th>Social_media_profile</th>
      <th>Website</th>
      <th>Travelamount</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.hard_skill.linkedin %></td>
      <td><%= @user.hard_skill.social_media_profile %></td>
      <td><%= @user.hard_skill.website %></td>
      <td><%= @user.hard_skill.travelamount %></td>
      <td><%= link_to 'Show', user_hard_skills_path %></td>
      <td><%= link_to 'Edit', edit_user_hard_skill_path(@user.id, @user.hard_skill.id) %></td>
    </tr>
    <%= link_to 'New Hard Skill', new_user_hard_skill_path(@user) %>
  </tbody>
</table>
