<%= form_for  [@user, @hard_skill], html: {multipart: true } do |f| %>
  <% if hard_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hard_skill.errors.count, "error") %> prohibited this hard_skill from being saved:</h2>

      <ul>
      <% hard_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image, 'I want to see a picture that defines you...'%>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :travelamount, 'What is the Airport Code of the airport you land the most often? ' %>
    <%= f.text_field :travelamount %>
  </div>


  <div class="field">
    <%= f.label :linkedin, 'Show me your Linkedin profile...'%>
    <%= f.text_field :linkedin %>
  </div>

  <div class="field">
    <%= f.label :social_media_profile, 'Please show me your favorite social media profile of yourself...' %>
    <%= f.text_field :social_media_profile%>
  </div>

  <div class="field">
    <%= f.label :website, 'Show me your Website/ Portfolio...'%>
    <%= f.text_field :website %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
