<%= form_for(hard_skill) do |f| %>
  <% if hard_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hard_skill.errors.count, "error") %> prohibited this hard_skill from being saved:</h2>

      <ul>
      <% hard_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin %>
  </div>

  <div class="field">
    <%= f.label :social_media_profile %>
    <%= f.text_field :social_media_profile %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :travelamount %>
    <%= f.text_field :travelamount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
