<h1>ABOUT</h1>


<% if @user.hard_skill %>
<%= image_tag @user.hard_skill.image.url(:large) %>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>Show me your Linkedin profile...</th>
      <td><%= @user.hard_skill.linkedin %></td>
    </tr>
    <tr>
      <th>Please show me your favorite social media profile of yourself...</th>
      <td><%= @user.hard_skill.social_media_profile %></td>
    </tr>
    <tr>
      <th>Show me your Website/ Portfolio...</th>
      <td><%= @user.hard_skill.website %></td>
    </tr>
    <tr>
      <th>What is the Airport Code of the airport you land the most often?</th>
      <td><%= @user.hard_skill.travelamount %></td>
    </tr>
  </tbody>
</table>
<% if current_user && (current_user.id == @user.id) %>
  <%= link_to 'Edit', edit_user_hard_skill_path(@user.id, @user.hard_skill.id) %>
<% end %>
<% else %>
  <% if current_user && (current_user.id == @user.id) %>
    <%= link_to 'Tell me something about you....', new_user_hard_skill_path(@user.id) %>
  <% else %>
    <span>No hard skills available</span>
  <% end %>
<% end %>
